:root {
  --maint-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --back-color: #FFFFFF;
  --color-sec: #434455;
  --color-main:#2e2f42;
}
body {
  font-family: var(--maint-font);
  background-color:var(--back-color);
  color: var(--color-sec);
}
/* navigation link */
.link-logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-studio {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-main);
}
/* delete point */
.list {
  list-style: none;
}
/* delete down line */
.link {
  text-decoration: none;
}
/* style button */
button {
  cursor: pointer;
}

/* list navigation */
  .list-link { 
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-main);}
    .list-link:hover,
    .list-link:focus {color: #404BBF;}
    .list-link:visited {color:#2E2F42;}
/* mobile and mail */
.adress-nav {
  font-style:normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-sec);
}
.adress-link {
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: var(--color-sec)
}
.adress-link:focus,
.adress-link:hover {
  color: #404bbf;
}
/* hero page  and button*/
.main-section {
  background-color: #2e2f42;
}
.main-text-head {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.button-order {
  font-family: var(--maint-font);
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  /* text in  button */
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
  
/* background button */
.button-order:hover,
.button-order:focus {
  background-color: #404BBF;
}



/* strategy 2 */
.strategy-head {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.strategy-head-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
/* what are you */
.what-are-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
/* team section */
.team {
  background-color: #f4f4fd;
}
.team-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
/* team list */
.team-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-list-img {
  background-color: #FFFFFF;
}

/* team list profession (p) */
.team-list-prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
/* footer logo and text */
.footer {
  background-color: #2e2f42;
}
.logo-footer {
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* PORTFOLIO CSS */
/* PORTFOLIO CSS */
/* PORTFOLIO CSS */
/* Filter buttons */
.button-filters-all {
  font-family: var(--maint-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #404bbf;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.button-filters-web {
  font-family: var(--maint-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.button-filters-app {
  font-family: var(--maint-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.button-filters-design {
  font-family: var(--maint-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.button-filters-marketing {
  font-family: var(--maint-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
/* photo list */
.photo-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.photo-tag {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
